<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Your next holiday !</h2>
                <hr class="light">
                <p class="text-faded">Located on the 4th and top floor with lift, private car park and dedicated ski closet on the ground floor. Everything is planned to comfortably accommodate 6 to 8 people with two independent sleeping arrangements.</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">See all photos</a>
            </div>
        </div>
    </div>
</section>