<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">For your convenience</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-signs wow bounceIn text-primary"></i>
                    <h3>Next to the slopes and ski lifts</h3>
                    <p class="text-muted">Right by "Les Bergers", one of the main ski lifts departure.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bed wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Up to 8 people</h3>
                    <p class="text-muted">Bedroom : 2 double beds + 2 singles<br/>Living room : Bed sofa 160 x 200</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-thumbs-o-up wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Brand new bathroom</h3>
                    <p class="text-muted">Italian shower<br/>Separate toilet</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-wifi wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Free WIFI</h3>
                    <p class="text-muted">Freebox TV - More than 200 channels.</p>
                </div>
            </div>
        </div>
    </div>
</section>
