<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright pull-left">© SCI Friends & Family {{  site.time | date: '%Y' }}</span>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <ul class="list-inline quicklinks pull-right">
                    <li><a href="/mentions-legales.html">Mentions légales</a>
                    </li>
                    <!-- li><a href="#">Terms of Use</a>
                    </li -->
                </ul>
            </div>
        </div>
    </div>
</footer>