<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.data.t[page.lang].description}}">
    <meta name="author" content="">

    <title>SCI Friends & Family - {{site.data.t[page.lang].title}}</title>

    <!-- facebook og -->
    <meta property="og:site_name"           content="{{site.data.t[page.lang].title}}"/>
    <meta property="og:url"                 content="{% if page.facebook_og_url %}{{page.facebook_og_url}}{% else %}{{site.url}}{{page.url}}{% endif %}" />
    <meta property="og:type"                content="website" />
    <meta property="og:title"               content="{{page.t.title}}" />
    <meta property="og:description"         content="{{site.data.t[page.lang].description}}" />
    {% if page.lang and page.lang := 'x-default' %}
    <meta property="og:locale"              content="{% if page.lang == 'fr' %}fr_FR{% else %}en_GB{% endif %}" /> 
    {% endif %}
    <meta property="og:image"               content="{{site.url}}{{site.baseurl}}img/inside_hdr.jpg" />    

    <!-- fb admins -->
    <meta property="fb:admins" content="{{site.fb_admin}}" />
    <meta property="fb:app_id" content="{{site.fb_app_id}}" />

    <!-- google stuff -->
    <link href="https://plus.google.com/104924682293142745985" rel="publisher" /> <!-- https://goo.gl/oZoGMI
 -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "SCI Friends & Family",
      "url": "http://www.leschoucas.tk",
      "url/googlePlus": "https://plus.google.com/104924682293142745985",
      "email": "infos@leschoucas.tk",
      "logo": "http://www.leschoucas.tk/img/logo.jpg",
      "contactPoint" : [
        { "@type" : "ContactPoint",
          "telephone" : "+33 9 54 81 32 84",
          "contactType" : "reservations"
        } ]
    }
    </script>

    <!-- favicon -->
    <link rel="icon" type="image/jpeg" href="/img/logo.jpg" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css" -->

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">

    <!-- Flags - https://github.com/lipis/flag-icon-css -->
    <link rel="stylesheet" href="/css/flag-icon.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css" type="text/css">

    {% if page.layout == 'page' %}
    <link rel="stylesheet" href="/css/page.css" type="text/css">
    {% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% assign posts=site.pages | where:"alternate", page.alternate %}
{% for post in posts %}
  {% if post.lang != page.lang %}
    <link rel="alternate" hreflang="{{post.lang}}" href="{{post.url | replace:'index.html',''}}" />
    <!-- meta property="og:locale:alternate"    content="{{post.lang}}" / -->
  {% endif %}
{% endfor %}

</head>
