<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vos prochaines vacances!</h2>
                <hr class="light">
                <p class="text-faded">Il est au 4ème et dernier étage avec ascenseur. Placard à ski. Parking privatif. <br/>Tout y est prévu pour 6 à 8 personnes, avec couchage possible dans les 2 pièces indépendantes.</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Toutes les photos</a>
            </div>
        </div>
    </div>
</section>
