<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contactez nous!</h2>
                <hr class="primary">
                <p>Si vous souhaitez faire une réservation, laissez nous vos coordonnées et nous vous contactons. N'oubliez pas de préciser la semaine qui vous intéresse.</p>
            </div>
        <!-- div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/intent/tweet?url={{site.url | encode}}{{page.url | cgi_escape }}&text={{site.data.t[page.lang].title | cgi_escape}}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Tweet</p>
            </a>
        </div -->
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://plus.google.com/104924682293142745985?prsrc=3"
               rel="publisher" target="_top" style="text-decoration:none;">
                <img src="//ssl.gstatic.com/images/icons/gplus-64.png" alt="Google+" class="wow bounceIn" data-wow-delay=".1s" style="border:0;width:64px;height:64px;"/>
                <!-- i class="fa fa-google-plus fa-3x wow bounceIn" data-wow-delay=".1s"></i -->
                <p>Google+</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.facebook.com/dialog/share?app_id=296906373346&href={{site.url | cgi_escape }}{{page.url | cgi_escape }}&display=popup&caption=cpation&redirect_uri={{site.url | cgi_escape}}{{page.url | cgi_escape}}" id="choucas-fb-share">
            <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>Partager</p>
            </a>
        </div>

    </div>

</section>
